.info {
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 13px;
    font-weight: bold;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#firstInf {
    width: 100%;
    background-color: #2C3E50;
}

.signin {
    text-align: center;
}

#store_name {
    padding: 20px 20px;
    max-width: 100%;
}

.logo {
    width: 100%;
}

.lo_shop {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.search {
    padding-top: 50px;
}

#search-place {
    background-image: url(pts/find.png);
    border: 1px solid #dddddd;
    background-size: 12px;
    background-position: 95% 50%;
    padding-left: 20px;
    background-repeat: no-repeat;
    width: 180px;
    height: 30px;
}

.cart {
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    color: white;
    padding-top: 4px;
    font-size: 20px;
}

.shopping {
    margin-right: 10px;
    padding-top: 45px;
}

.shopping h5 {
    font-size: 15px;
}

.price {
    font-size: 18px;
    color: red;
    padding-top: 2px;
}

#menu>li {
    display: inline-block;
    padding: 5px 8px;
    list-style-type: none;
}

.menu-deco {
    background-color: #652D92;
    padding: 0px;
    margin: 0px;
    width: 90%;
}

#menu {
    text-align: center;
    position: relative;
}

#menu>li>a {
    color: white;
    font-weight: bold;
}

.submenu {
    padding: 0px;
    margin: 0px;
}

.submenu {
    list-style-type: none;
    position: absolute;
    display: none;
    width: 150px;
    padding-left: 15px;
    top: 34px;
    background-color: white;
    border: 1px solid #dddddd;
    text-align: left;
    z-index: 99;
}

.submenuItem>a {
    color: #652D92;
    display: block;
    width: 100px;
    padding-left: 0px;
    font-weight: bold;
}

submenuItem {
    position: relative;
}

.item:hover {
    background-color: rgb(142, 78, 194);
}

#design:hover .submenu {
    display: block;
}

.submenuItem:hover {
    background-color: rgb(142, 78, 194);
}

.submenuItem:hover>a {
    color: white;
}

.mainMenu {
    background-color: #652D92;
    margin-top: 30px;
    width: 100%;
}


/*  */

.service-icon {
    width: 64px;
    height: auto;
}

.mt-0 {
    font-size: 18px;
    color: rgb(154, 63, 182);
}

.services {
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 2px solid rgb(154, 63, 182);
    border-bottom: 2px solid rgb(154, 63, 182);
    margin-bottom: 40px;
}

hr.underline {
    width: 40px;
    border: 2px solid rgb(154, 63, 182);
    margin-left: 0px;
}

.block {
    display: inline-block;
}

.infor {
    background-color: #eeeeee;
    padding-top: 40px;
    padding-bottom: 40px;
}

.details {
    font-size: 12px;
}

#social i {
    padding-right: 8px;
}

.contact {
    font-weight: bold;
    padding-right: 0 !important;
}

footer {
    color: white;
    background-color: #2C3E50;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content {
    font-size: 15px;
}

.title {
    text-transform: uppercase;
}


/*  */

h3,
.flower-info {
    font-family: 'Roboto Slab', serif;
}

h3 {
    border-top: 2px dotted #dddddd;
    border-bottom: 2px dotted #dddddd;
    padding: 5px 5px;
    border-left: 5px solid #652D92;
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
}

.bong {
    width: 100%;
    height: auto;
}

.flower {
    position: relative;
}

.discount {
    top: 0px;
    right: 0px;
    position: absolute;
    background-color: red;
    padding: 3px 2px;
}

.mso {
    color: rgb(154, 63, 182);
}

.org-price {
    color: gray;
    text-decoration: line-through;
}

.price {
    color: red;
}

.flower-info {
    padding-left: 10px;
    margin-top: 20px;
}

.san-pham {
    background-color: #eeeeee;
    margin-top: 20px;
}

.mt-0 {
    font-size: 15px;
}

#news-flower {
    width: 20%;
    max-width: 100%;
}

.watched {
    background-color: #eeeeee;
    padding: 10px 10px;
    position: relative;
}

.watched-hr {
    border: 1px solid #dddddd;
}

.news-discount {
    position: absolute;
    background-color: red;
    padding: 3px 2px;
    right: 0px;
    bottom: 10%;
}

.calendar {
    color: gray;
}

.news-item {
    margin-top: 10px;
}

.media-body {
    padding-left: 15px;
}

.icon {
    width: 70px;
    height: 70px;
    font-size: 40px;
    background-color: #652D92;
    text-align: center;
    color: white;
}
