h3,
.flower-info {
    font-family: 'Roboto Slab', serif;
}

h3 {
    border-top: 2px dotted #dddddd;
    border-bottom: 2px dotted #dddddd;
    padding: 5px 5px;
    border-left: 5px solid #652D92;
    margin-top: 20px;
    margin-bottom: 40px;
}

.bong {
    width: 100%;
    height: auto;
}

.flower {
    position: relative;
}

.discount {
    top: 0px;
    right: 0px;
    position: absolute;
    background-color: red;
    padding: 3px 2px;
}

.mso {
    color: rgb(154, 63, 182);
}

.org-price {
    color: gray;
    text-decoration: line-through;
}

.price {
    color: red;
}

.flower-info {
    padding-left: 10px;
    margin-top: 20px;
}

.san-pham {
    background-color: #eeeeee;
    margin-top: 20px;
}

.mt-0 {
    font-size: 15px;
}

#news-flower {
    width: 20%;
    max-width: 100%;
}

.watched {
    background-color: #eeeeee;
    padding: 10px 10px;
    position: relative;
}

.watched-hr {
    border: 1px solid #dddddd;
}

.news-discount {
    position: absolute;
    background-color: red;
    padding: 3px 2px;
    right: 0px;
    bottom: 10%;
}

.calendar {
    color: gray;
}

.news-item {
    margin-top: 10px;
}
