.white{
    color: white;
}
body{
    background-color: #A9A9A9 ;
}
h1{
    color: #FAFAD2;
    text-align: center;
}
ul{
    color: white;
    text-align: center;
    font-weight: bold;
}
.under{
    text-decoration: underline;
}
mark{
    background-color: #D3D3D3;
    color: white;
}
h2{
    color: #FAFAD2;
}
p{
    font-weight: bold;
}
.small{
    font-size: 14px;
}
.center{
    text-align: center;
}